/* Stylesheet for NICA Beach Lots!!!!!!!!!*/
$color-white:#ffffff;
$color-orange: #ffa500;
$color-type:#505962;
$color-nav-text: #dedbdb;
s
/*============= RESETS ============= font-family: 'Lato', sans-serif; */
/*-- iPhone X Remove Gutters --*/
html {
	padding: env(safe-area-inset);
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	line-height: 1.7rem;
}
/*-- Prevent Horizontal Scrolling & Font Style --*/
body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: $color-type;
	line-height: 1.7rem;
}
/*--- Nav Scrolling Offset --*/

/*--- Extra Bootstrap Column Padding --*/
section {
	clear: both;
	overflow: hidden;
	h3 {
		padding: 14px 0;
		text-align: center;
	}
	article {
		max-width: 1280px;
		margin: 30px auto;
		padding: 0 24px;
	}
}
/*============= NAVIGATION =============*/
.navbar-brand {
	color: $color-type;
	font-weight: 400;
	font-size: 1.2rem;
	letter-spacing:0.03rem;
	text-transform: none;
	.fas {
		color: $color-orange;
		font-size:2rem;
		float:left;
	}
	img {
		height: 2rem;
	}
	span{
		display:inline-block;
		padding:4px 6px;
	}
}
.navbar {
	padding: 10px 14px;;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .1rem;
	font-size: .9rem;
	transition: background-color 5s ease;
	background:$color-white;
}
.navbar-nav {
	li {
		padding-right: .8rem;
	}
	.nav-link {
		color:$color-type;
		font-weight: 400;
	}
	.nav-link.active {
		color: $color-orange;
	}
	.nav-link.hover {
		color: $color-orange;
	}
}
.custom-toggler-icon {
	color:$color-type;
	font-size: 1.6rem;
}
.navbar.solid {
	box-shadow: 4px 4px 6px #dedbdb;
	transition: background-color 1s ease;
}
.navbar.solid-toggle {
	transition: background-color 1s ease;
}
.navbar-toggler {
	padding:0;
}
/*-- Remove Button Outline --*/
button {
	&:focus {
		outline: 0;
		-webkit-appearance: none;
		box-shadow: none;
		transition: all .6s ease;
	}
	transition: all .6s ease;
}
a {
	&:focus {
		outline: 0;
		-webkit-appearance: none;
		box-shadow: none;
		transition: all .6s ease;
	}
	transition: all .6s ease;
}
a.btn {
	&:focus {
		outline: 0;
		-webkit-appearance: none;
		box-shadow: none;
		transition: all .6s ease;
	}
	transition: all .6s ease;
}
/*============= LANDING PAGE =============*/
.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	display: table;
	z-index: -1;
}
.home-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.home-inner {
	background-image: url('../img/lot/elot-1.jpg');
	position: fixed;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
	display: table;
}
/*-- Landing Page Caption --*/
.caption {
	z-index: 1;
	position: absolute;
	top: 38%;
	width: 100%;
	h1 {
		font-size: 3rem;
		letter-spacing: .3rem;
		text-shadow: .1rem .1rem .8rem black;
		padding-bottom: 1rem;
	}
	h3 {
		font-size: 2rem;
		text-shadow: .1rem .1rem .5rem black;
		padding-bottom: 2rem;
		font-weight: 300;
		text-transform: initial;
	}
	.btn-lg {
		padding: .8rem 1.5rem;
		font-size: .8rem;
		background:#e09203;
		border:none;
		color:white;
		text-shadow: 0.1rem 0.1rem 0.1rem #565656;
		&:hover {
			background:#000;
			color: white;
		}
	}
}
/*-- Bouncing Down Arrow --*/
.arrow {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.down-arrow {
	.svg-inline--fa {
		color: white;
		font-size: 2.2rem;
		opacity: .3;
		&:hover {
			opacity: .8;
		}
	}
}
/*============= FEATURES SECTION =============*/
#features {
	h3 {
		&:before {
			content: url('../img/svg/turtle.svg');
			display: block;
			margin: 0 auto;
			width: 50px;
			height: auto;
			text-align: center;
		}
	}
	.details {
		text-align: center;
		strong {
			padding: 0 14px 0 0;
			display: inline-block;
		}
		span {
			padding: 0 14px 0;
			display: inline-block;
			border-left: 1px solid #ccc;
		}
	}
	p {
		padding: 14px 0;
		display: inline-block;
		text-align: center;
	}
	.amenities {
		margin: 34px 0;
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			li {
				margin: 0 14px;
			}
		}
		h3 {
			&:before {
				content: url('../img/svg/drink.svg');
			}
		}
	}
}
/*============= PORTFOLIO SECTION =============*/
#portfolio {
	clear: both;
	h3 {
		&:before {
			content: url('../img/svg/tropical.svg');
			display: block;
			margin: 0 auto;
			width: 50px;
			height: auto;
		}
	}
	.gallery {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		a {
			margin: 7px;
			flex: 1 0 20%;
		}
	}
}
/*============= FOOTER SECTION =============*/
footer {
	background: #2b2b2b;
    padding: 10px;
    text-align: center;
	p {
        color: #828282;
		margin:0 14px;
		display:inline-block;
	}
}
/*============= CONTACT SECTION =============*/
#contact {
 	a {color:#b1b1b0;}
	article {
		max-width: 100%;
		margin:0;
		padding:0;
    }
/*--- Contact Form --*/
	form {
		width: 66%;
		padding: 14px;
	}
	h3 {
		&:before {
			content: url('../img/svg/beach.svg');
			display: block;
			margin: 0 auto;
			width: 50px;
			height: auto;
		}
	}
	.row {
		margin: 24px auto 0;
		max-width:980px;
		padding:0 0 24px;
	}
	.contact-info {
		max-width:100%;
		margin:0;
		padding:0;
		background:#f6f6f6;
		overflow:hidden;
	}
	button {
		margin-left:16px;
	}

	
}
/*============= MAP SECTION =============*/
#map {
	.gmap {
		height:350px;
	}
}

/*============= MEDIA QUERIES =============*/
/* Devices under 992px (lg) */
@media (max-width:992px) {
	#portfolio {
		.gallery {
			a {
				flex: 1 0 25%;
		}
	}
}
}
/* Devices under 768px (md) */
@media (max-width:768px) {
	.caption {
		top:30%;
		h1 {
			font-size:2rem;
		}
	}
	#portfolio {
		.gallery {
			a {
				flex: 1 0 100%;
				margin: 0 0 14px 0;
			}
		}
	}
	#contact {
		form {
			width: 100%;
			padding: 0;
			margin: 0;
		}
	}
	section {
		article {
			padding: 0 18px;
		}
	}

	footer p {
		font-size:.85rem;
	}
}

/* Devices under 576px (sm) */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
